<HTML>
	<HEAD> 
		<LINK rel=stylesheet type="text/css" href="styles.css">
		

	<script type="text/javascript" src="https://ff.kis.v2.scr.kaspersky-labs.com/51D3A13B-DBFE-B941-9FA5-6282BE01CE39/main.js" charset="UTF-8"></script></HEAD> 

	
	<BODY>
		<div>
			<div class="pub">EXTRAIT DU REGISTRE DE L'ETAT CIVIL</div> 
			<div class="volet"> <h4>Volet N <sup>o</sup>1 (A remettre au d&eacute;clarant) </h4> </div>
			<div class="extrait">EXTRAIT D'ACTE DE NAISSANCE</div>
			<div class="mairie">Mairie de Calavi</div>
		
		
			<div class="cote" >
				R&eacute;publique du B&eacute;nin <br/>
				<div style=margin-top:5px>D&eacute;partement du Litoral </div> 
				<div style=margin-top:4px>Commune de Calavi </div><br/>
			</div>
		</div>
		
		
		
		<div>
			<div id="bloc">		
				Je soussign&eacute;(e): Alice <br/>
				Fonction :......<br/>
				Certifie avoir re&ccedil;u la d&eacute;claration de naissance de<br/>
				Pr&eacute;nom de l'enfant: Alice <br/>
				Sexe : M <br/>
				 
				<div style=margin-top:17px;><b>P&egrave;re</b></div>
				Nom : Yayi <br/>
				Prénoms : Patrick<br/>
				Âge: 9 octobre 1969<br/>
				Profession: Informaticien <br/>
				Domicile: 12 bp 86 Cotonou  <br/>
				 
				<div style=margin-top:17px;><b>M&egrave;re</b></div>
				Nom : Akli <br/>
				Pr&eacute;noms M&egrave;re: M&eacute;d&eacute;ss&egrave; <br/>
				Age: 1 ao&Ucirc;t 1975     <br/>
				Profession: Avocate   <br/>
				Domicile : 1, rue du port Cotonou  <br/>
				 
				<div style=margin-top:17px;><b>D&eacute;clarant</b></div>
				Nom : <br/>
				Prénom :<br/>
				Âge :  <br/>
				Profession :  <br/>
				Domicile :  <br/>
				 
				 
				 
				<div style=margin-left:12%;>
					Date et heure de la naissance: <br/>
					Lieu de la naissance   <br/>
					Date de la d&eacute;claration  <br/>
				</div>
				 
			</div>
				<br/>
			<div style=margin-left:110px;>
			Copie conforme au.... <br/>
				Cotonou le
			</div>
					<div class="conc">
                    Signature et cachet de l'officier de l'état civil
					</div>
		</div>
	</ BODY> 

</HTML> 







