<h2 style="text-align: center;"><strong> REPUBLIQUE DU BENIN </strong></h2>
<h2 style="text-align: center;"><strong>MINISTERE DE L'INTERIEUR DE LA SECURITE</strong></h2>
<h2 style="text-align: center;"><strong>ET DE LA DECENTRALISATION</strong></h2>
<h2 style="text-align: center;"><strong>DEPARTEMENT DU LITTORAL</strong></h2>
<h2 style="text-align: center;"><strong>MAIRIE DE {{mairie.nom}}<br /></strong></h2>
<h2 style="text-align: center;"><strong>ARRONDISSEMENT {{person.district}}<br /></strong></h2>
<h2 style="text-align: center;"><strong>QUARTIER {{person.neighborhood}}<br /></strong></h2>
<h1 style="text-align: center;"><strong>ATTESTATION DE RESIDENCE</strong></h1>
<p style="text-align: justify;">Je soussign&eacute; {{quartier.cq}}, chef du quartier {{person.neighborhood}} atteste que {{article}} nomm&eacute;{{terminaison}} {{person.lastname}} {{person.firstname}}.</p>
<p style="text-align: justify;">N&eacute;{{terminaison}} le {{person.birthday}} &agrave;{{person.nationality.name}}</p>
<p style="text-align: justify;">De {{person.father_name}}</p>
<p style="text-align: justify;">Et de {{person.mother_name}}</p>
<p style="text-align: justify;">De nationnalit&eacute; {{person.nationality.name}}</p>
<p style="text-align: justify;">Excerce la profession de {{person.job}}</p>
<p style="text-align: justify;">R&eacute;side effectivement dans le quartier est domicili&eacute; &agrave; {{person.street_type}} {{person.comp_1}}</p>
<p style="text-align: justify;">Depuis {{person.arrived_date}} Maison</p>
<p style="text-align: justify;">En foi de quoi la pr&eacute;sente attestation de r&eacute;sidence lui est d&eacute;livr&eacute;e</p>
<p style="text-align: justify;">pour servir et valoir ce que de droit</p>
<p style="text-align: right;">Cotonou le {{person.created|date:"l d F,Y"}},</p>
<p style="text-align: right;"><br /> <br /> </p>
<p style="text-align: right;">Le chef quartier</p>
